@media screen and (max-width: 1600px){
    header .container a{font-size: 20px;}
    .tech-skill li{font-size: 30px;}
    .banner-section .content{width: 45%;}
}

@media screen and (max-width: 1500px){
    p{font-size: 20px;}
    .banner-section .content{width: 45%;}
    h2{font-size: 36px;}
    .tech-skill li{font-size: 26px;}
    .education .heading-4{font-size: 22px;}
    h3{font-size: 28px;}
    .experience .com-name .heading-4, .experience .com-name .heading-5{font-size: 22px;}
}
@media screen and (max-width: 1279px){
    .tech-skill li{font-size: 22px;}
    
}

@media screen and (max-width: 1023px){
    .banner-section .content{top: 15%;left: 5%;width: 90%;}
    h2{font-size: 32px;}
    h3{font-size: 26px;}
    .education .heading-4{font-size: 20px;margin: 10px 0;}
    p{font-size: 18px;}
    .experience .com-name .heading-3{line-height: 32px;}
    .experience .com-name .heading-4, .experience .com-name .heading-5{font-size: 20px;}
   
}
@media screen and (max-width: 650px){
    .tech-skill ul{display: grid;grid-template-columns: 1fr 1fr;}
    .tech-skill li{font-size: 20px;}
    .education .box1 .heading-3{line-height: 24px;}
}